{% extends 'layots/base.html' %}

{% block title %}
Індекс
{% endblock %}

{% block body %}
  <h1>Index page</h1>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
  <li>
    <loren5></loren5>
  </li>
{% endblock %}
