{% extends 'main/layout.html' %}

{% block title %}Форма для додавання новин{% endblock %}

{% block content %}
    <div class="features">
        <h1>Форма для додавання новин</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.title }}<br>
            {{ form.anons }}<br>
            {{ form.full_text }}<br>
            {{ form.date }}<br>
            <span>{{ error }}</span>
            <button class="btn btn-success" type="submit">Добавити статтю</button>
        </form>
    </div>
 {% endblock %}
