{% extends 'main/layout.html' %}

{% block title %}Новини сайту{% endblock %}

{% block content %}
    <div class="features">
        <h1>Новини сайту  !!!!!!</h1>
        {% if news %}
            {% for el in news %}
                <div class="alert alert-warning">
                    <h3>{{ el.title }}</h3>
                    <p>{{ el.anons }}</p>
                </div>
            {% endfor %}
        {% else %}
            <h1>У вас не має записів</h1>
        {% endif %}
    </div>
 {% endblock %}
